# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../IASA-Testproject-H\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\Development\IASA-Testproject-H\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
